<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <h2>Acessando um único item</h2>
    <p>{{ movimentation | json }}</p>

    <h2>Outras Ações de Banco de dados</h2>
    <button (click)="addMovimentation()">Adicionar</button>
    <button (click)="updateMovimentation(1)">Atualizar</button>
    <button (click)="deleteMovimentation(3)">Remover</button>
    <p><strong>build number:</strong> 2022-11-25 17:54</p>
</ion-content>