<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <h2>Lista de itens</h2>
    <p *ngFor="let movimentationItem of movimentationList">{{ movimentationItem | json }}</p>

    <h2>Acessando um único item</h2>
    <p>{{ movimentation | json }}</p>

    <h2>Outras Ações de Banco de dados</h2>

    <ion-button color="secondary"
                (click)="addMovimentation()">
        <ion-icon slot="start"
                  name="add"></ion-icon>
        Adicionar
    </ion-button>

    <ion-button color="secondary"
                (click)="updateMovimentation(this.movimentationList[this.movimentationList.length - 1].id)">
        <ion-icon slot="start"
                  name="pencil"></ion-icon>
        Atualizar
    </ion-button>

    <ion-button color="secondary"
                (click)="deleteMovimentation(this.movimentationList[this.movimentationList.length - 1].id)">
        <ion-icon slot="start"
                  name="cross"></ion-icon>
        Remover
    </ion-button>

    <ion-button color="secondary"
                (click)="clearTableMovimentation()">
        <ion-icon slot="start"
                  name="add"></ion-icon>
        Limpar Tabela
    </ion-button>

    <p><strong>build date:</strong> {{ getBuildDate() }}</p>
</ion-content>